<html>
    <head>
        <title>First page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="form-div">
            <form action="" id="url">
                <input type="text" autofocus placeholder="Enter URL here"><br>
                <button type="submit">Scrape</button>
                <p id="result"></p>
            </form>
            <p id="result"></p>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>